<!--------------------------------------------------------------------------------------------------------------------->
<!-- footer.vue                                                                                                      -->
<!--------------------------------------------------------------------------------------------------------------------->

<template>
	<div class="site-footer pt-4">
		<b-container>
			<div class="d-flex justify-content-between">
				<div id="social-links">
					<a href="https://www.facebook.com/TweedleCreative" target="_blank">
						<i class="fa fa-facebook fa-lg"></i>
					</a>
					<a href="https://instagram.com/TweedleCreative" target="_blank">
						<i class="fa fa-instagram fa-lg"></i>
					</a>
					<a href="mailto:contact@tweedlecreative.com" target="_top">
						<i class="fa fa-envelope fa-lg"></i>
					</a>
				</div>

				<div>
					<p style="font-size: 12px">© 2018-2019 Tweedle Creative LLC. All Rights Reserved.</p>
				</div>

				<a id ="to-top" href="#" class="on">
					<span class="fa-stack">
						<i class="fa fa-arrow-up">
						</i>
					</span>
				</a>
			</div>
		</b-container>
	</div>

</template>

<!--------------------------------------------------------------------------------------------------------------------->

<style lang="scss" scoped>
	.site-footer {
		padding-bottom: 25px;
		background-color: white;
	}


	#to-top {
		color: gray;
	}

	a {
		i.fa {
			color: #D3D3D3;
		}
	}
</style>

<!--------------------------------------------------------------------------------------------------------------------->

<script>
	//------------------------------------------------------------------------------------------------------------------


	//------------------------------------------------------------------------------------------------------------------

	export default {
		data()
		{
			return {

			};
		}

	}
</script>

<!--------------------------------------------------------------------------------------------------------------------->

