<!--------------------------------------------------------------------------------------------------------------------->
<!-- header.vue                                                                                                      -->
<!--------------------------------------------------------------------------------------------------------------------->

<template>
	<div class="site-header pt-4">
		<b-navbar toggleable="md" type="light">
			<b-container>
				<b-nav-toggle target="nav_collapse"></b-nav-toggle>

				<b-collapse is-nav id="nav_collapse">
					<b-navbar-brand  to="/" exact>
						<span>Home</span>
					</b-navbar-brand>
					<b-nav is-nav-bar class="align-items-start">
						<b-nav-item to="/about">About</b-nav-item>
						<b-nav-item to="/donate">Donate</b-nav-item>
						<b-nav-item to="/contact">Contact</b-nav-item>
					</b-nav>
				</b-collapse>

				<div id="social-links">
					<a href="https://www.facebook.com/TweedleCreative" target="_blank">
						<i class="fa fa-facebook fa-lg"></i>
					</a>
					<a href="https://instagram.com/TweedleCreative" target="_blank">
						<i class="fa fa-instagram fa-lg"></i>
					</a>
				</div>
			</b-container>
		</b-navbar>
	</div>
</template>

<!--------------------------------------------------------------------------------------------------------------------->

<style lang="scss" scoped>
    .site-header {
		border-bottom: black 1px solid;
		background-color: white;
		font-weight: bold;
	}

	.menu {
		float: left;
		margin-left: 0;
	}

	a {
		i.fa {
			color: #D3D3D3;
		}
	}

</style>

<!--------------------------------------------------------------------------------------------------------------------->

<script>
    //------------------------------------------------------------------------------------------------------------------

    // Imports go here

    //------------------------------------------------------------------------------------------------------------------

    export default {
        data()
        {
            return {
                // Data goes here
            };
        }
    }
</script>

<!--------------------------------------------------------------------------------------------------------------------->
